{% extends "model/loggedMenu.html" %} {% block subcontent %}
<div class="container-fluid px-xl-5 py-5">
  <section class="pb-3">
    <div class="row mb-4">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <div class="card">
          <div class="card-header">
            <h2 class="h6 text-uppercase mb-0">Gesamtproduktivität</h2>
          </div>
          <div class="card-body">
            <input type="hidden" id="procentProductivityTotal" value="{{procentProductivity}}">
            <div id="chartProductivityTotal" style="width: 100%;
                            max-width: 500px; margin: 0 auto;"></div>
            <script>
              var totalProcent = Math.floor($("#procentProductivityTotal").val() * 100) / 100;
              var pauseProcent = Math.floor((100 - totalProcent) * 100) / 100;

              if (totalProcent == -1) {
                document.write("Nicht genug Aufzeichnungen!");
              } else {
                var options = {
                  chart: {
                    type: 'donut',
                  },
                  series: [totalProcent, pauseProcent],
                  labels: ["Aktivitätsphase", "Pausezeit"],
                  responsive: [{
                    breakpoint: 600,
                    options: {
                      legend: {
                        position: 'bottom'
                      }
                    }
                  }]
                }

                var chart = new ApexCharts(
                  document.querySelector("#chartProductivityTotal"),
                  options
                );

                chart.render();
              }
            </script>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0 pl-lg-3">
        <div class="bg-white shadow roundy px-4 py-3 d-flex
                    align-items-center justify-content-between mb-4">
          <div class="flex-grow-1 d-flex align-items-center">
            <div class="dot mr-3 bg-red"></div>
            <div class="text">
              <h6 class="mb-0">Trainings</h6><span class="text-gray">{{recordsAmount}}</span>
            </div>
          </div>
          <div class="icon text-white bg-red"><i class="fas
                            fa-dumbbell"></i></div>
        </div>
        <div class="bg-white shadow roundy px-4 py-3 d-flex
                    align-items-center justify-content-between mb-4">
          <div class="flex-grow-1 d-flex align-items-center">
            <div class="dot mr-3 bg-blue"></div>
            <div class="text">
              <h6 class="mb-0">Strecke</h6><span class="text-gray">{% if totalDistance / 1000 >=
                                1 %}{{'%0.2f'|
                                format(totalDistance/1000|float)}}
                km{% else %}{{'%0.2f'|
                                format(totalDistance|float)}}
                m{% endif %}</span>
            </div>
          </div>
          <div class="icon text-white bg-blue"><i class="fas fa-fire"></i></div>
        </div>
        <div class="bg-white shadow roundy px-4 py-3 d-flex
                    align-items-center justify-content-between mb-4">
          <div class="flex-grow-1 d-flex align-items-center">
            <div class="dot mr-3 bg-green"></div>
            <div class="text">
              <h6 class="mb-0">Trainingszeit</h6><span class="text-gray">{{(totalActivityTime)|formatSeconds}}</span>
            </div>
          </div>
          <div class="icon text-white bg-green"><i class="fas
                            fa-stopwatch"></i></div>
        </div>
        <div class="bg-white shadow roundy px-4 py-3 d-flex
                    align-items-center justify-content-between mb-4">
          <div class="flex-grow-1 d-flex align-items-center">
            <div class="dot mr-3 bg-orange"></div>
            <div class="text">
              <h6 class="mb-0">Pausezeit</h6><span class="text-gray">{{(totalPauseTime)|formatSeconds}}</span>
            </div>
          </div>
          <div class="icon text-white bg-orange"><i class="fas
                            fa-stopwatch"></i></div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-3">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <div class="card">
          <div class="card-header">
            <h2 class="h6 text-uppercase mb-0">Aktivitätsphase im Verlauf</h2>
          </div>
          <div class="card-body">
            <div class="row align-items-center flex-row">
              <input id="weeksProductivity" type="hidden" value="{{weeksProductivity}}">
              <div id="chartProductivityLast" style="width:
                                100%;"></div>
              <script>
                var weekdays;
                console.log(new Date().getDay());
                switch (new Date().getDay()) {
                  case 0:
                    weekdays = ["Mo", "Di", "Mi", "Do", "Fr", "Sa", "Now"];
                    break;
                  case 1:
                    weekdays = ["Die", "Mi", "Don", "Fr", "Sa", "So", "Now"];
                    break;
                  case 2:
                    weekdays = ["Mi ", "Don", "Fr", "Sa", "So", "Mo", "Now"];
                    break;
                  case 3:
                    weekdays = ["Do", "Fr", "Sa", "So", "Mo", "Di", "Now"];
                    break;
                  case 4:
                    weekdays = ["Fr", "Sa", "So", "Mo", "Di", "Mi", "Now"];
                    break;
                  case 5:
                    weekdays = ["Sa", "So", "Mo", "Di", "Mi", "Do", "Now"];
                    break;
                  case 6:
                    weekdays = ["So", "Mo", "Di", "Mi", "Do", "Fr", "Now"];
                    break;
                }
                var options = {
                  chart: {
                    height: 450,
                    type: 'bar'
                  },
                  plotOptions: {
                    bar: {
                      horizontal: true,
                      dataLabels: {
                        position: 'top'
                      }
                    }
                  },
                  dataLabels: {
                    enabled: true,
                    offsetX: -6,
                    style: {
                      fontSize: '12px',
                      colors: ['#fff']
                    }
                  },
                  stroke: {
                    show: true,
                    width: 1,
                    colors: ['#fff']
                  },
                  series: [{
                    name: 'Diese Woche',
                    data: JSON.parse($('#weeksProductivity').val())[0]
                  }, {
                    name: 'Letzte Woche',
                    data: JSON.parse($('#weeksProductivity').val())[1]
                  }],
                  xaxis: {
                    categories: weekdays
                  },
                }

                var chart = new ApexCharts(
                  document.querySelector("#chartProductivityLast"),
                  options
                );

                chart.render();
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 mb-4 mb-lg-0">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="h6 text-uppercase mb-0">Wochenübersicht Aufzeichnungen</h2>
          </div>
          <div class="card-body">
            <div class="row align-items-center flex-row">
              <input id="weeksRecords" type="hidden" value="{{weeksRecords}}">
              <div id="chartLastTwoWeeks" style="width: 100%;"></div>
              <script>
                var weekdays;
                switch (new Date().getDay()) {
                  case 0:
                    weekdays = ["Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag", "Heute"];
                    break;
                  case 1:
                    weekdays = ["Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag", "Sonntag", "Heute"];
                    break;
                  case 2:
                    weekdays = ["Mittwoch", "Donnerstag", "Freitag", "Samstag", "Sonntag", "Montag", "Heute"];
                    break;
                  case 3:
                    weekdays = ["Donnerstag", "Freitag", "Samstag", "Sonntag", "Montag", "Dienstag", "Heute"];
                    break;
                  case 4:
                    weekdays = ["Freitag", "Samstag", "Sonntag", "Montag", "Dienstag", "Mittwoch", "Heute"];
                    break;
                  case 5:
                    weekdays = ["Samstag", "Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Heute"];
                    break;
                  case 6:
                    weekdays = ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Heute"];
                    break;
                }
                var options = {
                  chart: {
                    height: 450,
                    type: 'area'
                  },
                  dataLabels: {
                    enabled: false
                  },
                  stroke: {
                    curve: 'smooth'
                  },
                  series: [{
                    name: 'Diese Woche',
                    data: JSON.parse($('#weeksRecords').val())[0]
                  }, {
                    name: 'Letzte Woche',
                    data: JSON.parse($('#weeksRecords').val())[1]
                  }],

                  xaxis: {
                    type: 'string',
                    categories: weekdays
                  }
                }

                var chart = new ApexCharts(
                  document.querySelector("#chartLastTwoWeeks"),
                  options
                );

                chart.render();
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}