{% extends "model/loggedMenu.html" %}

{% block subcontent %}
<!-- Modal window: Remove friend -->
<div id="removeFriendModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeFriendModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeFriendModalLabel">Freund entfernen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Sie sind dabei Ihre(n) Freund/in <b id="friendNameTxt"></b> zu entfernen. Dabei verlieren Sie auch den
                Zugriff auf deren Statistiken.
                <br></br><b>Sind Sie sich sicher, dass Sie den Freund entfernen wollen?</b>
            </div>
            <div class="modal-footer">
                <form action="/removeFriend" method="POST">
                    <input id="friendId" name="friendId" type="text" style="display: none;">
                    <input id="friendName" name="friendName" type="text" style="display: none;">
                    <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Abbruch</button>
                    <button type="submit" class="btn btn-danger">Freund entfernen</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-xl-5">
    <section class="py-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="col-lg-12 mb-3">
            {% for message in messages %}
            <div class="alert alert-{{alert}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% for friend in friends %}
        <div class="col-lg-12">
            <div id="friend" class="message card px-5 py-3 mb-4 bg-hover-gradient-secondary no-anchor-style">
                <div class="row">
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                        <span class="mb-2 mr-lg-3 mb-lg-0">
                            <img src="/image?userID={{friend.id}}" alt="{{friend.firstName}} {{friend.lastName}}"
                                style="max-width: 2.5rem; {% if friend.isLive %}border-style: solid!important; border: 3px; border-color: #2ECC71;{% endif %}" class="img-fluid rounded-circle shadow">
                        </span>
                        <h6 class="mb-0">{{friend.firstName}} {{friend.lastName}}</h6>
                    </div>
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-lg-start">
                        <div class="bg-gray-300 roundy px-4 py-1 mt-2 m-sm-0 mr-sm-1 text-dark exclode">
                            {{friend.email}}</div>
                    </div>
                    <div
                        class="col-lg-4 d-flex align-items-center flex-row justify-content-center justify-content-lg-end">
                        <div id="openProfile" title="Profil anzeigen" class="icon text-white bg-green mr-1"
                            style="cursor: pointer;" data-profileId="{{friend.id}}"><i class="far fa-eye"></i>
                        </div>
                        {% if friend.isLive %}
                        <div id="openLivefeed" title="Liveansicht öffnen" class="icon text-white bg-blue mr-1"
                            data-profileId="{{friend.id}}" style="cursor: pointer;"><i class="fas fa-location-arrow"></i>
                        </div>
                        {% endif %}
                        <div id="removeFriend" title="Freund entfernen" class="icon text-white bg-red mr-1"
                            style="cursor: pointer;" data-profileFirstName="{{friend.firstName}}"
                            data-profileLastName="{{friend.lastName}}" data-profileId="{{friend.id}}" data-toggle="modal"
                            data-target="#removeFriendModal"><i class="fas fa-user-minus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if friends|length == 0 %}
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                <div class="text-center">
                    <h1>Keine Freunde gefunden!</h1>
                    <p>Sie sind zur Zeit mit niemandem befreundet</p>
                    <br>
                    <a href="/community/search"><button type="button" class="btn btn-primary shadow px-5">Freunde
                            suchen</button></a>
                </div>
            </div>
        </div>
        {% else %}
        <input id="pageAmount" style="display: none;" value="{{amount}}" />
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="prevItem">
                    <a class="page-link" id="prevPage">Previous</a>
                </li>
                {% for n in range(amount) %}
                <li class="page-item"><a class="page-link" id="page" href="/community/friends?page={{n+1}}">{{n+1}}</a></li>
                {% endfor %}
                <li class="page-item" id="nextItem">
                    <a class="page-link" id="nextPage">Next</a>
                </li>
            </ul>
        </nav>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script>
    var pageLink = '/community/profile';

    /* Get current friend name for modal */
    $('#removeFriendModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var friendName = button.data('profilefirstname') + " " + button.data('profilelastname');
        var friendId = button.data('profileid');
        var modal = $(this);
        modal.find('#friendId').val(friendId);
        modal.find('#friendName').val(friendName);
        modal.find('#friendNameTxt').text(friendName);
    });

    /* Open profile */
    $('[id=openProfile]').on('click', function () {
        window.location.href = `/profile?id=${$(this).data('profileid')}`;
    });

    /* Open livefeed */
    $('[id=openLivefeed]').on('click', function () {
        window.location.href = `/community/live?id=${$(this).data('profileid')}`;
    });

    /* Get current page index if exits */
    window.sessionStorage.clear();
    const page = new URLSearchParams(window.location.search).get('page');
    if(page){
        window.sessionStorage.setItem('page', page);
    } else {
        window.sessionStorage.setItem('page', 1);
    }
    var currentPage = window.sessionStorage.getItem('page');

    /* Check Previous/Next button state */
    if (parseInt(currentPage) === 1){
        $('#prevItem').addClass("disabled");
    }
    if (parseInt(currentPage) === parseInt($('#pageAmount').val())){
        $('#nextItem').addClass("disabled");
    }

    /* Previous page */
    $('[id=prevPage]').on('click', function () {
        setSessionStorage('page', --currentPage);
        document.location.href = `${pageLink}?page=${currentPage}`;
    });

    /* Next page */
    $('[id=nextPage]').on('click', function () {
        setSessionStorage('page', ++currentPage);
        document.location.href = `${pageLink}?page=${currentPage}`;
    });

    /* Change storage value */
    function setSessionStorage(name, value) {
        window.sessionStorage.setItem(name, value);
    };
</script>
{% endblock %}