{% extends "model/loggedMenu.html" %}

{% block subcontent %}
<!-- Modal window: Remove friend -->
<div id="removeFriendModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeFriendModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeFriendModalLabel">Freund entfernen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Sie sind dabei Ihren Freund <span id="friendName"></span> zu entfernen. Dabei verlieren Sie auch den
                Zugriff auf deren Statistiken.
                <br></br><b>Sind Sie sich sicher, dass Sie den Freund entfernen wollen?</b>
            </div>
            <div class="modal-footer">
                <form action="removeFriend" method="POST">
                    <input id="friendId" name="friendId" type="text" style="display: none;">
                    <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Abbruch</button>
                    <button type="submit" class="btn btn-danger">Freund entfernen</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-xl-5">
    <section class="py-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="col-lg-12 mb-3">
            {% for message in messages %}
            <div class="alert alert-{{alert}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% for friend in friends %}
        <div class="col-lg-12">
            <div id="friend" class="message card px-5 py-3 mb-4 bg-hover-gradient-secondary no-anchor-style">
                <div class="row">
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                        <strong class="h5 mb-0 m-3">{{friend.date|formatDate('%d')}}
                            <sup class="smaller text-gray font-weight-normal">{{friend.date|formatDate('%b')}}</sup>
                        </strong>
                        <h6 class="mb-0">{{friend.name}}</h6>
                    </div>
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-lg-start">
                        <div class="bg-gray-300 roundy px-4 py-1 mt-2 m-sm-0 mr-sm-1 text-dark exclode">
                            {% if friend.distance / 1000 >= 1 %}{{'%0.2f'| format(friend.distance/1000|float)}}
                            km{% else %}{{'%0.2f'| format(friend.distance|float)}} m{% endif %}</div>
                        <div class="bg-gray-300 roundy px-4 py-1 mt-2 m-sm-0 mr-sm-1 text-dark exclode">
                            {{(friend.time)|formatSeconds}}</div>
                    </div>
                    <div
                        class="col-lg-4 d-flex align-items-center flex-row justify-content-center justify-content-lg-end">
                        <div id="openProfile" class="icon text-white bg-green mr-1" style="cursor: pointer;"
                            data-friendid="{{friend.id}}"><i class="far fa-eye"></i>
                        </div>
                        <div id="openLivefeed" class="icon text-white bg-blue mr-1" data-friendid="{{friend.id}}"
                            style="cursor: pointer;"><i class="fas fa-location-arrow"></i></div>
                        <div id="removeFriend" class="icon text-white bg-red mr-1" style="cursor: pointer;"
                            data-friendFirstName="{{friend.firstName}}" data-friendLastName="{{friend.lastName}}"
                            data-friendId="{{friend.id}}" data-toggle="modal" data-target="#removeFriendModal"><i
                                class="fas fa-user-minus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if friends|length == 0 %}
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                <div class="text-center">
                    <h1>Keine Freunde gefunden!</h1>
                    <p>Sie sind zur Zeit mit niemandem befreundet</p>
                    <br>
                    <a href="/community/search"><button type="button" class="btn btn-primary shadow px-5">Freunde suchen</button></a>
                </div>
            </div>
        </div>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script>
    /* Get current friend name for modal */
    $('#removeFriendModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var friendFirstName = button.data('friendFirstName');
        var friendLastName = button.data('friendLastName');
        var friendId = button.data('friendid');
        var modal = $(this)
        modal.find('#friendId').val(friendId)
        modal.find('#friendName').text(friendFirstName + " " + friendLastName);
    });

    $('[id=openProfile]').on('click', function () {
        window.location.href = `/profile?id=${$(this).data('friendid')}`;
    })
</script>
{% endblock %}