{% extends "model/logged.html" %}

{% block title %}- Live: {{livefriend.firstName}} {{livefriend.lastName}}{% endblock %}

{% block subcontent %}
<div class="container-fluid px-xl-5">
    <section class="py-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="col-lg-12 mb-3">
            {% for message in messages %}
            <div class="alert alert-{{alert}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% if livefriend.locations %}
        <div class="row justify-content-md-center">
            <div class="col-lg-8 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h6 text-uppercase mb-0"><span class="text-red">{{livefriend.firstName}}
                                {{livefriend.lastName}}</span> ist live</h2>
                    </div>
                    <div class="card-body" id="map"
                        style="height:500px; width:100%; border-radius: 0em 0em 1.5em 1.5em"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row col-lg-8 mb-5 p-0">
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-red"></div>
                            <div class="text">
                                <h6 class="mb-0">Gesamtzeit</h6><span id="totalTime"
                                    class="text-gray">{{(livefriend.time)|formatSeconds}}</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-red"><i class="fas fa-hourglass-half"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-green"></div>
                            <div class="text">
                                <h6 class="mb-0">Trainingszeit</h6><span id="rideTime"
                                    class="text-gray">{{(livefriend.rideTime)|formatSeconds}}</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-green"><i class="fas fa-stopwatch"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-blue"></div>
                            <div class="text">
                                <h6 class="mb-0">Strecke</h6><span id="distance" class="text-gray"></span>
                            </div>
                        </div>
                        <div class="icon text-white bg-blue"><i class="fas fa-fire"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-red"></div>
                            <div class="text">
                                <h6 class="mb-0">Geschwindigkeit</h6>
                                <span class="text-gray"><span id="currentSpeed"></span> km/h</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-red"><i class="fas fa-hiking"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-green"></div>
                            <div class="text">
                                <h6 class="mb-0">Höhenmeter</h6>
                                <span class="text-gray"><i class="fas fa-arrow-up"></i>&nbsp;&nbsp;<span
                                        id="altPos"></span> m&nbsp;&nbsp;|&nbsp;&nbsp;<i
                                        class="fas fa-arrow-down"></i>&nbsp;&nbsp;<span id="altNeg"></span> m</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-green"><i class="fas fa-hiking"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-blue"></div>
                            <div class="text">
                                <h6 class="mb-0">Aktuelle Höhe</h6>
                                <span class="text-gray"><span id="currentAlt"></span> m</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-blue"><i class="fas fa-hiking"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-red"></div>
                            <div class="text">
                                <h6 class="mb-0">Max Geschw.</h6>
                                <span class="text-gray"><span id="maxSpeed"></span> km/h</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-red"><i class="fas fa-tachometer-alt"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-green"></div>
                            <div class="text">
                                <h6 class="mb-0">Ø-Geschw.</h6>
                                <span class="text-gray"><span id="avgSpeed"></span> km/h</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-green"><i class="fas fa-chart-area"></i></div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                <div class="text-center">
                    <h1>Der Nutzer ist nicht live</h1>
                    <p>Der Nutzer <b>{{livefriend.firstName}} {{livefriend.lastName}}</b> überträgt derzeit keine
                        Live-Aufzeichnung!</p>
                    <br>
                    <button type="button" id="backBtn" class="btn btn-primary shadow px-5">Zurück</button>
                </div>
            </div>
        </div>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script>
    /* Initialize the map on the "map" div with a given center and default zoom */
    var map = L.map('map');

    /* Add OSM tile leayer to the Leaflet map */
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    /* Define custom marker */
    var trackcat = L.icon({
        iconUrl: "{{ url_for('static', filename='img/favicon.png')}}",

        iconSize: [40, 40], // size of the icon
        iconAnchor: [20, 40], // point of the icon which will correspond to marker's location
        popupAnchor: [0, -42] // point from which the popup should open relative to the iconAnchor
    });

    var locMarker = L.icon({
        iconUrl: "{{ url_for('static', filename='img/location.svg')}}",

        iconSize: [25, 25], // size of the icon
        iconAnchor: [12.5, 12.5], // point of the icon which will correspond to marker's location
        popupAnchor: [0, 0] // point from which the popup should open relative to the iconAnchor
    });

    /* Fetch live data */
    var currentIndex = 0;
    var startMarker, cPosMarker;
    var latlngs = [];
    var altPos = 0, altNeg = 0, minSpeed = 0, maxSpeed = 0, avgSpeed = 0;
    getLiveData();

    /* Start routine */
    window.setInterval(function () {
        getLiveData();
    }, 2000);

    /* Fetch and read data from server */
    function getLiveData() {
        $.ajax({
            data: {
                friendId: '{{livefriend.profileId}}',
                index: currentIndex,
            },
            type: 'POST',
            url: '/getLiveRecord',
            success: function (response) {
                var liveData = JSON.parse(response);
                var locations = liveData.locations;
                currentIndex = locations.length > 0 ? locations[locations.length - 1].id : currentIndex;

                /* Add new locations to the map */
                for (var i = 0; i < locations.length; i++) {
                    var loc = locations[i];
                    if (i == 0 && !startMarker) {
                        startMarker = L.marker([loc.latitude, loc.longitude], { icon: trackcat })
                            .addTo(map)
                            .bindPopup('<center><h4>Start</h4>Hier hat die Aufzeichnung begonnen</center>')
                            .openPopup();
                        maxSpeed = loc.speed;
                    }

                    var arr = [loc.latitude, loc.longitude]
                    latlngs.push(arr);

                    if (i > 0) {
                        if (loc.altitude > locations[i - 1].altitude) {
                            altPos += loc.altitude - locations[i - 1].altitude;
                        } else {
                            altNeg += locations[i - 1].altitude - loc.altitude;
                        }

                        if (Math.floor(loc.speed * 3.6 * 100) / 100 > maxSpeed) {
                            maxSpeed = Math.floor(loc.speed * 3.6 * 100) / 100;
                        }
                    }

                    if (i == locations.length - 1 && !cPosMarker) {
                        cPosMarker = L.marker([loc.latitude, loc.longitude], { icon: locMarker })
                            .addTo(map)
                            .bindPopup('<center><h4>Aktuelle Position</h4>Die aktuelle Position von {{livefriend.firstName}} {{livefriend.lastName}}</center>')
                            .openPopup();
                    }
                    if (cPosMarker) {
                        var newLatLng = new L.LatLng(loc.latitude, loc.longitude);
                        cPosMarker.setLatLng(newLatLng);
                    }

                    document.getElementById('altPos').textContent = Number(altPos.toFixed(2));
                    document.getElementById('altNeg').textContent = Number(altNeg.toFixed(2));
                    document.getElementById('currentAlt').textContent = Number(loc.altitude.toFixed(2));
                    document.getElementById('currentSpeed').textContent = Number(loc.speed.toFixed(2));
                    document.getElementById('maxSpeed').textContent = maxSpeed;

                    polyline = L.polyline(latlngs, { color: 'red' }).addTo(map);
                    map.fitBounds(polyline.getBounds());
                }

                /* Refresh static record data */
                document.getElementById('totalTime').textContent = formatTime(liveData.time);
                document.getElementById('rideTime').textContent = formatTime(liveData.rideTime);
                document.getElementById('distance').textContent = formatDistance(liveData.distance);
                if(liveData.rideTime > 0){
                    document.getElementById('avgSpeed').textContent = (liveData.distance/1000.0)/(liveData.rideTime/3600.0);
                } else {
                    document.getElementById('avgSpeed').textContent = "NaN";
                }
                
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    /* Format time */
    function formatTime(sec_num) {
        var hours = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours < 10) { hours = "0" + hours; }
        if (minutes < 10) { minutes = "0" + minutes; }
        if (seconds < 10) { seconds = "0" + seconds; }
        return hours + ':' + minutes + ':' + seconds;
    }

    /* Format distance */
    function formatDistance(meters) {
        if (meters / 1000 >= 1) {
            return Math.round(meters / 1000 * 100) / 100 + " km";
        } else {
            return Math.round(meters * 100) / 100 + " m";
        }
    }
</script>
{% endblock %}