{% extends "model/loggedMenu.html" %}

{% block subcontent %}
<div class="container-fluid px-xl-5">
    <section class="py-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="col-lg-12 mb-3">
            {% for message in messages %}
            <div class="alert alert-{{alert}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% for live in livefriends %}
        <div class="col-lg-12">
            <div id="live" class="message card px-5 py-3 mb-4 bg-hover-gradient-secondary no-anchor-style">
                <div class="row">
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                        <span class="mb-2 mr-lg-3 mb-lg-0">
                            <img src="/image?userID={{live.id}}" alt="{{live.firstName}} {{live.lastName}}"
                                style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow img-rb-green">
                        </span>
                        <h6 class="mb-0">{{live.firstName}} {{live.lastName}}</h6>
                    </div>
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-lg-start">
                        <div class="bg-gray-300 roundy px-4 py-1 mt-2 m-sm-0 mr-sm-1 text-dark exclode">
                            {{live.email}}</div>
                    </div>
                    <div
                        class="col-lg-4 d-flex align-items-center flex-row justify-content-center justify-content-lg-end">
                        <div id="openProfile" title="Profil anzeigen" class="icon text-white bg-green mr-1"
                            style="cursor: pointer;" data-profileId="{{live.id}}"><i class="far fa-eye"></i>
                        </div>
                        <div id="openLivefeed" title="Liveansicht öffnen" class="icon text-white bg-blue mr-1"
                            data-profileId="{{live.id}}" style="cursor: pointer;"><i class="fas fa-location-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if livefriends|length == 0 %}
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                <div class="text-center">
                    <h1>Niemand ist live!</h1>
                    <p>Derzeit ist keiner Ihrer Freunde live.</p>
                    <br>
                    <a href="/community/friends"><button type="button" class="btn btn-primary shadow px-5">Freunde
                            anzeigen</button></a>
                </div>
            </div>
        </div>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script>
    /* Get current friend name for modal */
    $('#removeFriendModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var friendName = button.data('profilefirstname') + " " + button.data('profilelastname');
        var friendId = button.data('profileid');
        var modal = $(this);
        modal.find('#friendId').val(friendId);
        modal.find('#friendName').val(friendName);
        modal.find('#friendNameTxt').text(friendName);
    });

    $('[id=openProfile]').on('click', function () {
        window.location.href = `/profile?id=${$(this).data('profileid')}`;
    });

    $('[id=openLivefeed]').on('click', function () {
        window.location.href = `/community/live?id=${$(this).data('profileid')}`;
    });
</script>
{% endblock %}