{% extends "model/loggedMenu.html" %}

{% block subcontent %}
<!-- Modal window: Edit record -->
<div class="modal fade" id="renameRecordModal" tabindex="-1" role="dialog" aria-labelledby="renameRecordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editRecord" action="editRecord" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameRecordModalLabel">Aufzeichnung umbenennen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recordName" class="col-form-label">Name der Aufzeichnung:</label>
                        <input id="recordId" name="recordId" type="text" style="display: none;">
                        <input id="recordName" name="recordName" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbruch</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal window: Confirm delete record -->
<div id="deleteRecordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteRecordModalLabel">Aufzeichnung löschen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Beim Löschen dieser Aufzeichnung gehen sämtliche damit verbundene Daten verloren. Dies bezieht sich auch
                auf die daraus resultierende Statistik.
                <br></br><b>Sind Sie sich sicher, dass Sie die Aufzeichnung löschen wollen?</b>
            </div>
            <div class="modal-footer">
                <form action="deleteRecord" method="POST">
                    <input id="recordId" name="recordId" type="text" style="display: none;">
                    <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Abbruch</button>
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-xl-5">
    <section class="py-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="col-lg-12 mb-3">
            {% for message in messages %}
            <div class="alert alert-{{alert}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% for record in records %}
        <div class="col-lg-12">
            <div id="record" class="message card px-5 py-3 mb-4 bg-hover-gradient-secondary no-anchor-style">
                <div class="row">
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                        <strong class="h5 mb-0 m-3">{{record.date|formatDate('%d')}}
                            <sup class="smaller text-gray font-weight-normal">{{record.date|formatDate('%b')}}</sup>
                        </strong>
                        <h6 class="mb-0">{{record.name}}</h6>
                    </div>
                    <div
                        class="col-lg-4 mb-3 mb-lg-0 d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-lg-start">
                        <div class="bg-gray-300 roundy px-4 py-1 mt-2 m-sm-0 mr-sm-1 text-dark exclode">
                            {% if record.distance / 1000 >= 1 %}{{'%0.2f'| format(record.distance/1000|float)}}
                            km{% else %}{{'%0.2f'| format(record.distance|float)}} m{% endif %}</div>
                        <div class="bg-gray-300 roundy px-4 py-1 mt-2 m-sm-0 mr-sm-1 text-dark exclode">
                            {{(record.time)|formatSeconds}}</div>
                    </div>
                    <div
                        class="col-lg-4 d-flex align-items-center flex-row justify-content-center justify-content-lg-end">
                        <div id="openRecord" class="icon text-white bg-green mr-1" data-recordId="{{record.id}}"
                            style="cursor: pointer;"><i class="far fa-eye"></i>
                        </div>
                        <div id="editRecord" class="icon text-white bg-blue mr-1" data-recordName="{{record.name}}"
                            data-recordId="{{record.id}}" style="cursor: pointer;" data-toggle="modal"
                            data-target="#renameRecordModal">
                            <i class="fas fa-pencil-alt"></i></div>
                        <div id="removeRecord" class="icon text-white bg-red mr-1" data-recordId="{{record.id}}"
                            style="cursor: pointer;" data-toggle="modal" data-target="#deleteRecordModal"><i
                                class="far fa-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if records|length == 0 %}
        <h1 class="text-center">Keine Aufzeichnungen vorhanden!</h1>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script>
    /* Get current record name for modal */
    $('#renameRecordModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recordName = button.data('recordname');
        var recordId = button.data('recordid');
        var modal = $(this)
        modal.find('#recordId').val(recordId)
        modal.find('#recordName').val(recordName)
    });

    /* Get current record name for modal */
    $('#deleteRecordModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recordId = button.data('recordid');
        var modal = $(this)
        modal.find('#recordId').val(recordId)
    });

    $('[id=openRecord]').on('click', function(){
        document.location.href = "/record?id=" + $(this).data('recordid');
    })
</script>
{% endblock %}