{% extends "model/base.html" %}

{% block title %}- Passwort zurücksetzen{% endblock %}

{% block content %}
<div class="page-holder d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-5 col-lg-7 mx-auto mb-5 mb-lg-0">
        <div class="pr-lg-5"><img src="{{ url_for('static', filename='img/logo.svg')}}" alt="" class="img-fluid"></div>
      </div>
      <div class="col-lg-5 px-lg-4">
        <h1 class="text-base text-primary text-uppercase mb-4">Trackcat Dashboard</h1>
        <h2 class="mb-4">Passwort zurücksetzen</h2>
        <p class="text-muted">Hier haben Sie die Möglichkeit Ihr Passwort zurücksetzen, bitte tragen Sie dafür Ihre E-Mail Adresse:</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{alert}} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form id="loginForm" action="resetPassword" method="POST" class="mt-4" data-toggle="validator">
          <div class="form-group mb-4">
            <input type="email" id="email" name="email" placeholder="E-Mail Adresse" maxlength="30"
              class="form-control border-1 shadow form-control-lg" validate>
          </div>
          <button type="submit" id="loginBtn" class="btn btn-primary shadow px-5" disabled>Zurücksetzen</button>
          <small class="form-text text-muted ml-3"><a href="/login">Zurück zur Anmeldung</a></small>
        </form>
      </div>
    </div>
    <p class="mt-5 mb-0 text-gray-400 text-center">&copy Copyright
      <script>
        document.write(new Date().getFullYear());
      </script> — Trackcat App<br>
      Designed by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a>
      and <a href="trackcat.de" class="external text-gray-400">Trackcat</a>
      <br>All rights reserved.
    </p>
  </div>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script>
  /* Login validation */
  initializeValidation("loginForm");
</script>
{% endblock %}