{% extends "model/logged.html" %}

{% block title %}- Einstellungen{% endblock %}

{% block subcontent %}
<style>
  #profileImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  #changeProfileImg:hover #profileImg {
    opacity: 0.3;
    cursor: pointer;
  }

  #changeProfileImg:hover .middle {
    opacity: 1;
    cursor: pointer;
  }
</style>
<div class="container-fluid px-xl-5">
  <div id="imageResizer" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <section class="py-5">
    <div class="row mb-4">
      <div class="col-lg-5 mb-5">
        <div class="card">
          <div class="card-header">
            <h2 class="h6 text-uppercase mb-0">Profilbild</h2>
          </div>
          <div class="card-body">
            <div class="row align-items-center flex-row">
              <div class="col-lg-4 text-center mb-4" id="changeProfileImg">
                <input type="file" id="newProfileImg" accept="image/*" style="display:none" />
                <img
                  src="{% if user.img == None %}{{ url_for('static', filename='img/defaultUser.jpg')}}{% else %}data:image/jpeg;base64,{{ user.img | safe }}{% endif %}"
                  width="150px" class="img-fluid rounded-circle shadow" id="profileImg">
                <div class="middle">
                  <img src="https://img.icons8.com/ios/50/000000/unsplash-filled.png" id="profileImgIcon" />
                </div>
              </div>
              <div class="col-lg-8">
                <h2 class="mb-0 d-flex align-items-center">
                  <span id="settings_account_name">{{user.firstName}} {{user.lastName}}</span>
                </h2>
                <span class="text-muted text-uppercase small"><span id="online_state"
                    class="dot bg-green d-inline-block mr-2"></span>
                  Online</span>
                <hr><small class="text-muted" id="settings_account_email">{{user.id}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 mb-5">
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Allgemeine Einstellungen</h3>
          </div>
          <div class="card-body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{alert}} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <p>Im folgenden Abschnitt hast du die Möglichkeit deine allgemeinen Profilinformationen zu ändern:</p>
            <form id="editGenerals" action="updateUser" method="POST">
              <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="maleGender" type="radio" name="genderRadio" value="1" class="custom-control-input"
                    {% if user.gender == 1 %}checked="true" {% endif %} validate>
                  <label for="maleGender" class="custom-control-label">Herr</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="femaleGender" type="radio" name="genderRadio" value="0" class="custom-control-input"
                    {% if user.gender == 0 %}checked="true" {% endif %} validate>
                  <label for="femaleGender" class="custom-control-label">Frau</label>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Vorname</label>
                <input type="text" id="firstName" name="firstName" placeholder="Vorname" maxlength="16"
                  class="form-control" value="{{user.firstName}}" validate>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Nachname</label>
                <input type="text" id="lastName" name="lastName" placeholder="Nachname" maxlength="16"
                  class="form-control" value="{{user.lastName}}" validate>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Geburtstag</label>
                <input type="date" id="birthday" name="birthday" class="form-control" validate>
                <script>
                  var date = new Date("{{ user.dateOfBirth }}" * 1000);
                  document.getElementById("birthday").value = getDate(date);
                </script>
              </div>
              <button type="submit" id="editGeneralsBtn" class="btn btn-primary shadow px-5" disabled>Speichern</button>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Passwort ändern</h3>
          </div>
          <div class="card-body">
            <p>Hier kannst du dein Passwort ändern. Das Passwort ermöglicht dir den Zugang zu deinem Konto:</p>
            <form id="changePassword" action="changePassword" method="POST">
              <div class="row">
                <div class="col-lg-6 mb-3">
                  <div class="form-group">
                    <label class="form-control-label text-uppercase">Aktuelles Passwort</label>
                    <input type="password" id="currentPass" name="currentPass" placeholder="Aktuelles Passwort"
                      maxlength="15" class="form-control" validate>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="form-group">
                    <label class="form-control-label text-uppercase">Neues Passwort</label>
                    <input type="password" id="newPass" name="newPass" placeholder="Neues Passwort" maxlength="15"
                      class="form-control" validateNewPass="1">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label text-uppercase">Neues Passwort wdh.</label>
                    <input type="password" id="newPass2" name="newPass2" placeholder="Neues Passwort wdh."
                      maxlength="15" class="form-control" validateNewPass="2">
                  </div>
                </div>
                <div class="col align-self-end">
                  <button type="submit" id="changePasswordBtn" class="btn btn-primary shadow px-5"
                    disabled>Ändern</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script>
  var fileDialog = $('#newProfileImg');
  $('#profileImg').click(function () { fileDialog.trigger('click'); });
  $('#profileImgIcon').click(function () { fileDialog.trigger('click'); });

  console.log(fileDialog);
  fileDialog.change(function () {
    var file = this.files[0];
    if (file.size > 0) {
      $('#imageResizer').modal('toggle');
      getBase64(file);
    }
  });

  /* Edit general profile data */
  initializeValidation("editGenerals");

  /* Change personal password */
  initializeValidation("changePassword");

  function getBase64(file) {
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function () {
      console.log(reader.result);
    };
    reader.onerror = function (error) {
      console.log('Error: ', error);
    };
  }
</script>
{% endblock %}