{% extends "model/logged.html" %}

{% block title %}- Einstellungen{% endblock %}

{% block subcontent %}
<style>
  #profileImg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  #changeProfileImg:hover #profileImg {
    opacity: 0.3;
    cursor: pointer;
  }

  #changeProfileImg:hover .middle {
    opacity: 1;
    cursor: pointer;
  }
</style>
<div id="main" class="container-fluid px-xl-5">

  <!-- Modal window: Confirm delete account -->
  <div id="confirmDeleteAccount" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="confirmDeleteAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteAccountLabel">Account unwiderruflich löschen?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Beim Löschen Ihres Accounts verlieren Sie den Zugriff auf samtliche damit verbundene Funktionen.
          <br></br><b>Sind Sie sich sicher, dass Sie Ihren Account löschen wollen?</b>
        </div>
        <div class="modal-footer">
          <form action="deleteAccount" method="POST">
            <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Abbruch</button>
            <button type="submit" class="btn btn-danger">Account löschen</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <section class="py-5">
    <div class="row mb-4">
      <!-- Alert messages -->

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="col-lg-12 mb-3">
        {% for message in messages %}
        <div class="alert alert-{{alert}} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <div class="col-lg-6 mb-5">

        <!-- Profile image -->
        <div class="card mb-4">
          <div class="card-header">
            <h2 class="h6 text-uppercase mb-0">Profilbild</h2>
          </div>
          <div class="card-body">
            <div class="row align-items-center flex-row">
              <div class="col-lg-4 text-center mb-4" id="changeProfileImg">
                <input type="file" id="newProfileImg" accept="image/*" style="display:none" />
                <img id="profileImg" src="/image?userID={{user.id}}" class="img-fluid rounded-circle shadow">
                <div class="middle">
                  <img id="profileImgIcon" src="https://img.icons8.com/ios/50/000000/unsplash-filled.png" />
                </div>
              </div>
              <div class="col-lg-8">
                <h2 class="mb-0 d-flex align-items-center">
                  <span id="settings_account_name">{{user.firstName}} {{user.lastName}}</span>
                </h2>
                <small class="text-muted" id="settings_account_email">{{user.email}}</small>
                <hr><span class="text-muted text-uppercase small"><span id="online_state"
                    class="dot bg-green d-inline-block mr-2"></span>
                  Online</span>
              </div>
            </div>
          </div>
        </div>

        <!-- General settings -->
        <div class="card">
          <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Allgemeine Einstellungen</h3>
          </div>
          <div class="card-body">
            <p>Im folgenden Abschnitt haben Sie die Möglichkeit Ihre allgemeinen Profilinformationen zu ändern:</p>
            <form id="editGenerals" action="updateUser" method="POST">
              <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="maleGender" type="radio" name="genderRadio" value="1" class="custom-control-input"
                    {% if user.gender == 1 %}checked="true" {% endif %} validate>
                  <label for="maleGender" class="custom-control-label">Herr</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input id="femaleGender" type="radio" name="genderRadio" value="0" class="custom-control-input"
                    {% if user.gender == 0 %}checked="true" {% endif %} validate>
                  <label for="femaleGender" class="custom-control-label">Frau</label>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Vorname</label>
                <input type="text" id="firstName" name="firstName" placeholder="Vorname" maxlength="16"
                  class="form-control" value="{{user.firstName}}" validate>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Nachname</label>
                <input type="text" id="lastName" name="lastName" placeholder="Nachname" maxlength="16"
                  class="form-control" value="{{user.lastName}}" validate>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Geburtstag</label>
                <input type="date" id="birthday" name="birthday" class="form-control"
                  value="{{(user.dateOfBirth*1000)|formatDate('%Y-%m-%d')}}" validate>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Größe</label>
                <div class="input-group mb-2">
                  <input type="number" min="30" max="250" step="0.5" id="size" name="size" class="form-control"
                    value="{{user.size}}" validate>
                  <div class="input-group-append">
                    <div class="input-group-text">cm</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label text-uppercase">Gewicht</label>
                <div class="input-group mb-2">
                  <input type="number" min="30" max="500" step="0.1" id="weight" name="weight" class="form-control"
                    value="{{user.weight}}" validate>
                  <div class="input-group-append">
                    <div class="input-group-text">kg</div>
                  </div>
                </div>
              </div>
              <button type="submit" id="editGeneralsBtn" class="btn btn-primary shadow px-5" disabled>Speichern</button>
            </form>
          </div>
        </div>

      </div>
      <div class="col-lg-6 mb-5">
        <!-- Change user password -->
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Passwort ändern</h3>
          </div>
          <div class="card-body">
            <p>Hier können Sie Ihr Passwort ändern. Das Passwort ermöglicht Ihnen den Zugang zu Ihrem Konto:</p>
            <form id="changePassword" action="changePassword" method="POST">
              <div class="row">
                <div class="col-lg-6 mb-3">
                  <div class="form-group">
                    <label class="form-control-label text-uppercase">Aktuelles Passwort</label>
                    <input type="password" id="currentPass" name="currentPass" placeholder="Aktuelles Passwort"
                      maxlength="15" class="form-control" validate>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="form-group">
                    <label class="form-control-label text-uppercase">Neues Passwort</label>
                    <input type="password" id="newPass" name="newPass" placeholder="Neues Passwort" maxlength="15"
                      class="form-control" validateNewPass="1">
                  </div>
                  <div class="form-group">
                    <label class="form-control-label text-uppercase">Neues Passwort wdh.</label>
                    <input type="password" id="newPass2" name="newPass2" placeholder="Neues Passwort wdh."
                      maxlength="15" class="form-control" validateNewPass="2">
                  </div>
                </div>
                <div class="col align-self-end">
                  <button type="submit" id="changePasswordBtn" class="btn btn-primary shadow px-5"
                    disabled>Ändern</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Delete user account -->
        <div class="card">
          <div class="card-header">
            <h3 class="h6 text-uppercase mb-0 text-red">Account löschen</h3>
          </div>
          <div class="card-body">
            <p>Wenn Sie Ihren Account löschen, werden sämtliche Benutzerdaten gelöscht. Folgende Informationen sind
              davon betroffen:</p>
            <ul>
              <li>Personenbezogene Daten (<i>Name, Profilbild, Status, etc.</i>)</li>
              <li>Aufzeichnungen</li>
              <li>Freunde</li>
            </ul>
            <p>Ihre Daten werden dabei restlos gelöscht und können <b><u>nicht wiederhergestellt</u></b> werden!</p>
            <form id="deleteAccount">
              <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                  <input id="checkTerms" type="checkbox" class="custom-control-input" validate>
                  <label for="checkTerms" class="custom-control-label">Ich akzeptiere und will meinen Account
                    <b>unwiderruflich</b> löschen</label>
                </div>
              </div>
              <div class="col align-self-end text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmDeleteAccount"
                  disabled>Account
                  unwideruflich löschen</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
<script src="{{ url_for('static', filename='js/crop.js')}}"></script>
<script>
  /* Initialize crop function */
  initCrop("newProfileImg", "newProfileImagePreview", "resultNewProfileImg", [200, 200], [0, 0, 220, 220]);

  /*  */
  var fileDialog = $('#newProfileImg');
  $('#profileImg').click(function () { fileDialog.trigger('click'); });
  $('#profileImgIcon').click(function () { fileDialog.trigger('click'); });

  /* Edit general profile data */
  initializeValidation("editGenerals");

  /* Change personal password */
  initializeValidation("changePassword");

  /* Delete account */
  initializeValidation("deleteAccount");
</script>
{% endblock %}