{% extends "model/logged.html" %}

{% block title %}- Aufzeichnung: {{recordData.name}}{% endblock %}

{% block subcontent %}
<div class="container-fluid px-xl-5">
    <section class="py-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="col-lg-12 mb-3">
            {% for message in messages %}
            <div class="alert alert-{{alert}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% if recordData %}
        <div class="row justify-content-md-center">
            <div class="col-lg-8 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="h6 text-uppercase mb-0">Aufzeichnung: "<span
                                class="text-red">{{recordData.name}}</span>"</h2>
                    </div>
                    <div class="card-body" id="map"
                        style="height:500px; width:100%; border-radius: 0em 0em 1.5em 1.5em"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row col-lg-8 mb-5 p-0">
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-red"></div>
                            <div class="text">
                                <h6 class="mb-0">Gesamtzeit</h6><span
                                    class="text-gray">{{(recordData.time)|formatSeconds}}</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-red"><i class="fas fa-hourglass-half"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-green"></div>
                            <div class="text">
                                <h6 class="mb-0">Trainingszeit</h6><span
                                    class="text-gray">{{(recordData.ridetime)|formatSeconds}}</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-green"><i class="fas fa-stopwatch"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-blue"></div>
                            <div class="text">
                                <h6 class="mb-0">Strecke</h6><span
                                    class="text-gray">{% if recordData.distance / 1000 >= 1 %}{{'%0.2f'| format(recordData.distance/1000|float)}}
                                    km{% else %}{{'%0.2f'| format(recordData.distance|float)}}
                                    m{% endif %}</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-blue"><i class="fas fa-fire"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-red"></div>
                            <div class="text">
                                <h6 class="mb-0">Höhenmeter</h6>
                                <span class="text-gray"><i class="fas fa-arrow-up"></i>&nbsp;&nbsp;<span id="altPos"></span> m&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-arrow-down"></i>&nbsp;&nbsp;<span id="altNeg"></span> m</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-red"><i class="fas fa-hiking"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-green"></div>
                            <div class="text">
                                <h6 class="mb-0">Maximalgeschw.</h6>
                                <span class="text-gray"><span id="maxSpeed"></span> km/h</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-green"><i class="fas fa-tachometer-alt"></i></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                    <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                        <div class="flex-grow-1 d-flex align-items-center">
                            <div class="dot mr-3 bg-blue"></div>
                            <div class="text">
                                <h6 class="mb-0">Ø-Geschw.</h6>
                                <span class="text-gray">{% if recordData.ridetime != 0 %}{{((recordData.distance/1000.0)/(recordData.ridetime/3600.0))|round(2)}}{% else %}0{% endif %} km/h</span>
                            </div>
                        </div>
                        <div class="icon text-white bg-blue"><i class="fas fa-chart-area"></i></div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-xl-4 col-lg-6 mb-4">
                <div class="text-center">
                    <h1>Nichts gefunden :(</h1>
                    <p>Die gesuchte Route mit der ID <strong><script>document.write(new URLSearchParams(window.location.search).get('id'));</script></strong> wurde nicht gefunden!</p>
                    <br>
                    <button type="button" id="backBtn" class="btn btn-primary shadow px-5">Zurück</button>
                </div>
            </div>
        </div>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block customScripts %}
<script src="{{ url_for('static', filename='js/validate.js')}}"></script>
{% if recordData %}
<script>
    /* Initialize the map on the "map" div with a given center and default zoom */
    var map = L.map('map');

    /* Add OSM tile leayer to the Leaflet map */
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    /* Define custom marker */
    var trackcat = L.icon({
        iconUrl: "{{ url_for('static', filename='img/favicon.png')}}",

        iconSize: [40, 40], // size of the icon
        iconAnchor: [20, 40], // point of the icon which will correspond to marker's location
        popupAnchor: [0, -42] // point from which the popup should open relative to the iconAnchor
    });

    /* Create a red polyline from an array of LatLng points */
    var locations = JSON.parse('{{recordData.locations|tojson|safe}}');
    var latlngs = [];
    var altPos = 0, altNeg = 0, maxSpeed = 0, avgSpeed = 0;

    for (var i = 0; i < locations.length; i++) {
        var loc = locations[i];
        if (i == 0) {
            L.marker([loc.latitude, loc.longitude], { icon: trackcat })
                .addTo(map)
                .bindPopup('<center><h4>Start</h4>Hier hat die Aufzeichnung begonnen<br>{{recordData.date|formatDate}}</center>')
                .openPopup();
            maxSpeed = loc.speed;
        }

        var arr = [loc.latitude, loc.longitude]
        latlngs.push(arr);

        if (i > 0) {
            if (loc.altitude > locations[i-1].altitude) {
                altPos += loc.altitude-locations[i-1].altitude;
            } else {
                altNeg += locations[i-1].altitude-loc.altitude;
            }

            if(Math.floor(loc.speed*3.6*100)/100 > maxSpeed){
                maxSpeed = Math.floor(loc.speed*3.6*100)/100;
            }
        }

        if (i == locations.length - 1) {
            L.marker([loc.latitude, loc.longitude], { icon: trackcat })
                .addTo(map)
                .bindPopup('<center><h4>Ende</h4>Hier wurde die Aufzeichnung beendet<br>{{(recordData.date+recordData.time*1000)|formatDate}}</center>')
                .openPopup();
        }
    }

    document.getElementById("altPos").textContent = altPos;
    document.getElementById("altNeg").textContent = altNeg;
    document.getElementById("maxSpeed").textContent = maxSpeed;

    var polyline = L.polyline(latlngs, { color: 'red' }).addTo(map);
    map.fitBounds(polyline.getBounds());
</script>
{% endif %}
{% endblock %}