{% extends "model/logged.html" %}

{% block topNav %}
<a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a>
{% endblock %}

{% block menu %}
<div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN
    </div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="/dashboard"
                class="sidebar-link text-muted {% if site == 'dashboard'%}active{% endif %}"><i
                    class="o-home-1 mr-3 text-gray"></i><span>Start</span></a></li>
        <li class="sidebar-list-item"><a href="/records"
                class="sidebar-link text-muted {% if site == 'records'%}active{% endif %}"><i
                    class="o-survey-1 mr-3 text-gray"></i><span>Records</span></a></li>
        <a href="#" data-toggle="collapse" data-target="#community" aria-expanded="{% if site == 'search' or site == 'friends' or site == 'live' %}true{% else %}false{% endif %}" aria-controls="pages"
            class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>Community</span></a>
        <div id="community" class="collapse {% if site == 'search' or site == 'friends' or site == 'live' %}show{% endif %}">
            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a href="/community/search" class="sidebar-link text-muted pl-lg-5">Suche</a></li>
                <li class="sidebar-list-item"><a href="/community/friends" class="sidebar-link text-muted pl-lg-5 {% if site == 'friends'%}active{% endif %}">Freunde</a></li>
                <li class="sidebar-list-item"><a href="/community/live" class="sidebar-link text-muted pl-lg-5">Live</a></li>
            </ul>
        </div>
    </ul>
</div>
{% endblock %}