{% extends "model/base.html" %} {% block content %}
<header class="header">
    <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow">
        {% block topNav %}
        <a
            {%
            if
            site
            !="profile"
            and
            site
            !="settings"
            %}id="backBtn"
            {%
            else
            %}href="/dashboard"
            {%
            endif
            %}
            style="cursor: pointer;"
            class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"
            ><i class="fas fa-chevron-circle-left"></i
        ></a>
        {% endblock %}

        <a href="/dashboard" class="navbar-brand font-weight-bold text-uppercase text-base text-red"
            >Trackcat Dashboard</a
        >
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
            <!-- Maybe later notification function -->
            <!-- <li class="nav-item dropdown mr-3">
                <a
                    id="notifications"
                    href="http://example.com"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="nav-link dropdown-toggle text-gray-400 px-1"
                    ><i class="fa fa-bell"></i><span class="notification-icon"></span
                ></a>
                <div aria-labelledby="notifications" class="dropdown-menu">
                    {% block notifications %}
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <div class="icon icon-sm bg-blue text-white">
                                <img
                                    src="{{ url_for('static', filename='img/defaultUser.jpg')}}"
                                    alt="Jason Doe"
                                    style="max-width: 1.7rem;"
                                    class="img-fluid rounded-circle shadow"
                                />
                            </div>
                            <div class="text ml-2">
                                <p class="mb-0">Finn hat deine Freunfschaftsanfrage angenommen!</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <div class="icon icon-sm bg-blue text-white">
                                <i class="fas fa-map-marked-alt"></i>
                            </div>
                            <div class="text ml-2">
                                <p class="mb-0">Route wurde gespeichert!</p>
                            </div>
                        </div>
                    </a>
                    {% endblock %}
                </div>
            </li> -->
            <li class="nav-item dropdown mr-3">
                <div
                    class="timeout"
                    data-toggle="popover"
                    data-placement="bottom"
                    title="Automatische Abmeldung"
                    data-content="Zur Sicherheit Ihrer Daten werden Sie nach der o.g. Zeit automatisch abgemeldet. Sie können die Zeit jederzeit durch Klicken verlängern."
                >
                    <input type="hidden" id="timeout" name="timeout" value="{{ user.sessionTime }}" />
                    <i class="fas fa-sync spinner"></i>
                    <span id="timeout-time"></span>
                </div>
                <script>
                    var seconds = $("#timeout").val();
                    var time, interval, timeout;
                    setTime();

                    /* Fill time integers with zeros */
                    function fillZero(v) {
                        return v < 10 ? "0" + v : v;
                    }

                    /* Hover effects */
                    $(".timeout").hover(function() {
                        $(".spinner").toggleClass("hovered");
                    });

                    $(".timeout").mouseover(function() {
                        $(".timeout").popover("show");
                    });

                    $(".timeout").mouseout(function() {
                        $(".timeout").popover("hide");
                    });

                    /* Restart counter and refresh session */
                    $(".timeout").on("click", function() {
                        $.ajax({
                            url: "/sessionrefresh",
                            success: function(result) {
                                console.log(result);
                                setTime();
                            }
                        });
                    });

                    /* Initialize timer interation */
                    function setTime() {
                        clearInterval(interval);
                        clearTimeout(timeout);

                        var endDate = new Date().getTime() + seconds * 1000;
                        var difference = countdown("#timeout-time", endDate);

                        /* Refresh every second */
                        interval = setInterval(function() {
                            difference = countdown("#timeout-time", endDate);
                            if (difference == 0) {
                                clearInterval(interval);
                            }
                        }, 1000);

                        /* Redirect after timeout */
                        timeout = setTimeout(function() {
                            window.location = "/logout";
                        }, seconds * 1000);
                    }

                    /* Calculate the countdown and print remaining time */
                    function countdown(element, endDate) {
                        /* Get today's date and time */
                        var now = new Date().getTime();

                        /* Find the difference between now and the countdown date */
                        var difference = endDate - now;

                        /* Time calculations for days, hours, minutes and seconds */
                        var days = Math.floor(difference / (1000 * 60 * 60 * 24));
                        var hours = fillZero(Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
                        var minutes = fillZero(Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60)));
                        var seconds = fillZero(Math.floor((difference % (1000 * 60)) / 1000));

                        /* Display the result in the selected element */
                        if (hours <= 0 && days <= 0) {
                            $(element).text(`${minutes}:${seconds}`);
                        } else if (days <= 0) {
                            $(element).text(`${hours}:${minutes}:${seconds}`);
                        } else {
                            $(element).text(`${days}T ${hours}:${minutes}:${seconds}`);
                        }
                        return Math.ceil(difference / 1000);
                    }
                </script>
            </li>
            <li class="nav-item dropdown ml-auto">
                <a
                    id="userInfo"
                    href="trackcat.de"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="nav-link dropdown-toggle"
                    ><img
                        src="/image?userID={{ user.id }}"
                        alt="{{ user.firstName }} {{ user.lastName }}"
                        style="max-width: 2.5rem;"
                        class="img-fluid rounded-circle shadow"
                /></a>

                <div aria-labelledby="userInfo" class="dropdown-menu">
                    <a href="/profile" class="dropdown-item">
                        <strong id="account_name" class="d-block text-uppercase headings-font-family"
                            >{{ user.firstName }} {{ user.lastName }}</strong
                        >
                        <small id="account_email">{{ user.email }}</small></a
                    >
                    <div class="dropdown-divider"></div>
                    <a href="/settings" class="dropdown-item">Einstellungen</a>
                    <div class="dropdown-divider"></div>
                    <a href="/logout" class="dropdown-item">Abmelden</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="d-flex align-items-stretch">
    {% block menu %} {% endblock %}
    <div class="page-holder w-100 d-flex flex-wrap">
        {% block subcontent %} {% endblock %} {% block footer %}
        <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-center text-md-left text-primary">
                        <p class="mb-2 mb-md-0">
                            &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            — Trackcat App. All rights reserved.
                        </p>
                    </div>
                    <div class="col-md-6 text-center text-md-right text-gray-400">
                        <p class="mb-0">
                            Design by
                            <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400"
                                >Bootstrapious</a
                            >
                            and <a href="trackcat.de" class="external text-gray-400">Trackcat</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </div>
</div>
{% endblock %}
