{% extends "model/logged.html" %}

{% block topNav %}
<a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a>
{% endblock %}

{% block menu %}
<div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN
    </div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="dashboard"
                class="sidebar-link text-muted {% if site == 'dashboard'%}active{% endif %}"><i
                    class="o-home-1 mr-3 text-gray"></i><span>Start</span></a></li>
        <li class="sidebar-list-item"><a href="records"
                class="sidebar-link text-muted {% if site == 'records'%}active{% endif %}"><i
                    class="o-survey-1 mr-3 text-gray"></i><span>Records</span></a></li>
        <li class="sidebar-list-item"><a href="friends"
                class="sidebar-link text-muted {% if site == 'friends'%}active{% endif %}"><i
                    class="fas fa-user-friends mr-3 text-gray"></i><span>Freunde</span></a></li>
    </ul>
</div>
{% endblock %}