/* Custom link */

.hint {
    color: #f11313 !important;
}

a {
    color: #4680ff;
}

a:hover,
a:focus {
    color: #004ef9;
}


/* Define word breaks */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


/* Badges */

.btn-bd-primary {
    font-weight: 500;
    color: #7952b3;
    border-color: #7952b3;
}

.btn-bd-primary:hover,
.btn-bd-primary:active {
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}

.btn-bd-download {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;
}

.btn-bd-download:hover,
.btn-bd-download:active {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.bd-callout code {
    border-radius: .25rem;
}

.bd-callout+.bd-callout {
    margin-top: -.25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de !important;
}

.bd-callout-info h4 {
    color: #5bc0de !important;
}

.bd-callout-warning {
    border-left-color: #f0ad4e !important;
}

.bd-callout-warning h4 {
    color: #f0ad4e !important;
}

.bd-callout-danger {
    border-left-color: #d9534f !important;
}

.bd-callout-danger h4 {
    color: #d9534f !important;
}


/* Bordered image */

.img-rb-red {
    border-style: solid !important;
    border: 3px;
    border-color: #F0404C;
}

.img-rb-green {
    border-style: solid !important;
    border: 3px;
    border-color: #2ECC71;
}


/* State icon */

.usr-profile {
    position: relative;
    width: 150px;
    height: 150px;
}

.state-icon {
    position: absolute;
    right: 0em;
    bottom: 0em;
    background-color: white;
}


/* Custom background colors */

.bg-yellow {
    background-color: rgb(255, 242, 126) !important;
}

a.bg-yellow:hover,
a.bg-yellow:focus,
button.bg-yellow:hover,
button.bg-yellow:focus {
    background-color: rgb(255, 245, 152) !important;
}

.bg-orange {
    background-color: rgb(255, 98, 36) !important;
}

a.bg-orange:hover,
a.bg-orange:focus,
button.bg-orange:hover,
button.bg-orange:focus {
    background-color: rgb(255, 132, 83) !important;
}


/* Timout badge */

.timeout {
    margin: 0em;
    padding: 0.5em;
    width: 75px;
    color: white;
    border-radius: 7em;
    background-color: #F0404C;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#timeout-time {
    margin-left: 0.2em;
}

.spinner {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.spinner.hovered,
.spinner:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}